
// Primary colors
$color-black: #000;
$color-white: #fff;

// Text Colors
$color-secondary-font-color: rgb(204, 200, 200);
$color-primary-font-color: #000;

// Primary font
$font-primary: 'Bai Jamjuree', sans-serif;

//secondary font
$color-light-grey: rgb(223, 222, 222);
$color-light-grey2: darken( $color-light-grey, 10% );
$color-light-green: rgb(15, 138, 46);

//btn-colors
$btn-add: #0c7cc7;
$btn-save: #20b334;
$btn-cancel: #a51010;
$btn-delete:#155080;

//shadow-color
$shadow-color: rgba(83, 79, 79, 0.678);